<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="attachMapper">
   
 	<!-- 이미지 정보 반환 -->
 	<select id="getAttachList" resultType="kr.co.vo.AttachImageVO">
 		SELECT * FROM BOOK_IMAGE WHERE BOOKID = #{bookId}
 	</select>
   
   
</mapper>